/* Styling for my version of the Google homepage */
* {
	
	border: 1px black dashed;
	
	background-color: #fff;
}

.googleLogo img {
	height: 125px;
	width: 350px;

}

.searchBox {
	-webkit-appearance: none;
	width: 300px;
}

.searchBox, .googleLogo {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: -webkit-center;
}

.logoAndSearch {
	/*position: absolute;
	margin-right: auto;
	margin-left: auto;
	
	background-color: navy;
	*/
	height: 125px;
	margin-top: 17%;
}

form input {
	margin-left: 3px;
}