.playingField {
	height: 500px;
	width: 500px;
	background-color: #ccc;
	border: 2px solid black;
	margin: auto;
}

.drawingCell {

	background-color: #000;
	display: inline-block;
	margin: auto;
	padding: 0;
}

.buttonHolder {
	text-align: center;
	margin: auto auto 10px auto;
}